<h2>Live Chat</h2>

<div id="chat_container" class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr><th> -- Chat Start -- </th></tr>
    </thead>
    <tbody>  
    <%# TODO: create @messages, have it auto-refresh %>
    <% (1..100).each do |num| %>
      <tr><td id=<%="row_#{num}"%>> Test Message </td> </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script> 
    var $el = $(".table-responsive");
    $el.scrollTop($el.prop("scrollHeight")-$el.innerHeight());
</script>
