<body>
  <div id="comment-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

  <script type="text/javascript">
  $(document).ready(function () {
    var chart;
    var dates = []

  function requestData(){
    if( window.liveChatID){
    $.ajax({
      url: 'http://localhost:3000/analytics?live_chat_id=' + window.liveChatID,
      success: function(data){
        var commentRate = data.comments_per_s

        //target data entry point in chart
        var series = chart.series[0];

        // shift if the series is longer than 20
        shift = series.data.length > 10;

        for(var i = 0; i < commentRate.length; i++){
          var x = new Date(commentRate[i].timestamp).getTime()

          if (dates.indexOf(x) === -1){
            dates.push(x)
            var y = commentRate[i].count

            //add all data points to target entry point
            chart.series[0].addPoint([x, y], true, shift);
          }
        }
        //  call again after 10 second
      }
    })
  }
  setTimeout(requestData, 10000);
}

      chart = new Highcharts.Chart({
          chart: {
              renderTo: 'comment-container',
              defaultSeriesType: 'spline',
              events: {
                  load: requestData
              }
          },
          title: {
              text: 'Comment Count'
          },
          subtitle: {
            text: "Live comment count per 10 seconds"
          },
          xAxis: {
              type: 'datetime',
              tickPixelInterval: 150,
              maxZoom: 20 * 1000
          },
          yAxis: {
              minPadding: 0.2,
              maxPadding: 0.2,
              title: {
                  text: 'Comment count',
                  margin: 20
              }
          },
          tooltip: {
              formatter: function () {
                  return '<b>' + this.y + ' comments' + '</b><br/>'
              }
          },
          plotOptions: {
          series: {
            color: "#FF0052",
            marker: {
                enabled: true
              },
            dataLabels: {
                enabled: true
              }
            }
          },
          series: [{
              name: 'Timestamp',
              data: []
          }]
      });
    });

  </script>
</body>
