<head>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
</head>
<body>
  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

  <script type="text/javascript">

  $(document).ready(function () {
    var chart;
    var mainDataObj = []
    function requestData(){
      console.log('re retrieving')
      console.log('OBJ:', mainDataObj)
      $.ajax({
        url: 'http://localhost:3000/analytics?live_chat_id=EiEKGFVDZUVod2FxajNZWDdVZHlTbXFjYzNIdxIFL2xpdmU',
        success: function(data){
          var point = data.words
          console.log('LIVE DATA', point)

          var series = chart.series[0]
          console.log('SERIES:', series)
          shift = series.data.length > 20; // shift if the series is longer than 20

             // add the point
             for(var i = 0; i < point.length; i++ ){
               mainDataObj.push([new Date().getTime(), point[i].count])
             }

             chart.series[0].addPoint(mainDataObj[mainDataObj.length-1], true, shift);
             mainDataObj.pop()
             // call it again after one second
             setTimeout(requestData, 250);
      }
      })
    }

      chart = new Highcharts.Chart({
          chart: {
              renderTo: 'container',
              defaultSeriesType: 'spline',
              events: {
                  load: requestData
              }
          },
          title: {
              text: 'Live random data'
          },
          xAxis: {
              type: 'datetime',
              tickPixelInterval: 150,
              maxZoom: 20 * 1000
          },
          yAxis: {
              minPadding: 0.2,
              maxPadding: 0.2,
              title: {
                  text: 'Value',
                  margin: 80
              }
          },
          series: [{
              name: 'Random data',
              data: []
          }]
      });
    });

  </script>
</body>
