<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <!-- Bootstrap & JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "/assets/style.css" />

    <title>Youtube LiveStream Analysis</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-light navbar-toggleable-sm bg-faded justify-content-center">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand d-flex w-50 mr-auto">Polygon</a>
        <div class="navbar-collapse collapse" id="collapsingNavbar3">
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Layout -->
    <div class="container">
        <div class="row">

            <!-- Graph Container TODO: add tabs for multiple graphs-->
            <div id="graph_container" class="col-lg-7">
                <%= erb :word_graph %>
                <%# erb :line_graph %>
                <%# erb :pie_graph %>
                <%# erb :phrase_graph %>
            </div>

            <div id="chatbox_container" class="col-lg-5">
                <div id="placeholder_chat" style="background-color:darkred;height:100%;width:100%;border: .2rem solid black;">
                <%# erb :chatbox %>
            </div>

        </div>
    </div>

</body>

</html>
