<html>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <h1>Youtube LiveStream Analysis</h1>
    <p id="p"> Hello World </p>
    <button id='show'>Show</button>
    <button id='hide'>Hide</button>
    <script>
        $("#hide").click(function(){
            $("#p").hide();
        });

        $("#show").click(function(){
            $("#p").show();
        });
    </script>
</body>

</html>