<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LiveStream Analysis</title>

    <!-- Bootstrap & JQuery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "/assets/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
</head>

<body>
    <!-- Navigation -->
    <%= erb :navbar %>

    <!-- Main Layout -->
    <div class="container">
        <div class="row">
            <!-- Graph Container -->
            <div class="col-sm-6 col-lg-6 col-xl-6">
                <%#= erb :word_graph %>
                <%= erb :tabs %>
            </div>

            <!-- Chat Goes Here -->
            <div class="col-sm-6 col-lg-6 col-xl-6">
                <%= erb :chat %>
            </div>
        </div>

        <div class="row">
            <!-- Stream Options Menu -->
            <div class="col-sm-6 col-lg-6 col-xl-6">
                <%= erb :stream_options %>
            </div>

            <!-- Poll  -->
            <div class="col-sm-6 col-lg-6 col-xl-6">
                <%# erb :poll %>
            </div>

        </div>
    </div>
</body>
</html>
