<h3>Stream Options</h3>
<div id="stream_options">
    <form id="menu1_form">
        <%# TODO: add file upload/download options  %>
        <input id="stream_input" name="id" placeholder=<%="#{!params[:id].nil? ? params[:id] : ''}"%>></br>
        <input id="search" name="q" placeholder=<%="#{!params[:q].nil? ? params[:q] : ''}"%>></br>
        <input type="submit">
    </form>
</div>