<div class="container">
  <h2>Graphs</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Word Graph</a></li>
    <li><a data-toggle="tab" href="#menu1">Word Search</a></li>
    <li><a data-toggle="tab" href="#menu2">Chat Activity</a></li>
    <li><a data-toggle="tab" href="#menu3">Poll</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active"> <%= erb :word_graph %> </div>
    <div id="menu1" class="tab-pane fade"> <%= erb :word_search %> </div>
    <div id="menu2" class="tab-pane fade"> <%= erb :comment_graph %> </div>
    <div id="menu3" class="tab-pane fade"> <%= erb :word_search %> </div>
  </div>
</div>



