<head>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

  <script type="text/javascript">

  $(document).ready(function () {
    console.log("hello world\n")

    //retrieve data
    $.ajax({

      // url: "http://localhost:3000/analytics?live_chat_id=" + live_video_id

       url: 'https://jsonplaceholder.typicode.com/comments',
       success: function(data) {


         console.log('data', data)
         var email_data = []
         var id_data = []
         for(var i = 0; i < 100; i++){
           email_data.push(data[i].email)
           id_data.push(data[i].id)
         }
           my_highchart(email_data, id_data )
       }
   });

   //highchart column graph
   function my_highchart(email_data, id_data){
    let chart =   Highcharts.chart('container', {
          chart: {
              type: 'column'
          },
          title: {
              text: 'Hot Words'
          },
          xAxis: {
              categories: [],
              crosshair: true
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Word count'
              }
          },
          tooltip: {
              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                  '<td style="padding:0"><b>Used {point.y:.1f} times</b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
          },
          plotOptions: {
              column: {
                  pointPadding: 0.2,
                  borderWidth: 0
              }
          },
          series: [{
              name: 'Hot Words',
              data: []
          }]
      });

      //set chart data
      chart.xAxis[0].setCategories(email_data)
      chart.series[0].setData(id_data)
    }


});
  </script>
</body>
